# Исследование надежности заемщиков

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [31]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [32]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [33]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [34]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [35]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [36]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [37]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [38]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [39]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [40]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [41]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [42]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [43]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [44]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [45]:
data.duplicated().sum()

71

In [46]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [47]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [48]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [49]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [50]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [51]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)
print(data.head(20))

    children  days_employed  dob_years            education  education_id  \
0          1    8437.673028         42               высшее             0
1          1    4024.803754         36              среднее             1
2          0    5623.422610         33              среднее             1
3          3    4124.747207         32              среднее             1
4          0  340266.072047         53              среднее             1
5          0     926.185831         27               высшее             0
6          0    2879.202052         43               высшее             0
7          0     152.779569         50              среднее             1
8          2    6929.865299         35               высшее             0
9          0    2188.756445         41              среднее             1
10         2    4171.483647         36               высшее             0
11         0     792.701887         40              среднее             1
12         0  365286.622650         65              среднее             1
13         0    1846.641941         54  неоконченное высшее             2
14         0    1844.956182         56               высшее             0
15         1     972.364419         26              среднее             1
16         0    1719.934226         35              среднее             1
17         0    2369.999720         33               высшее             0
18         0  400281.136913         53              среднее             1
19         0   10038.818549         48              среднее             1

       family_status  family_status_id gender income_type  debt  total_income  \
0    женат / замужем                 0      F   сотрудник     0        253875
1    женат / замужем                 0      F   сотрудник     0        112080
2    женат / замужем                 0      M   сотрудник     0        145885
3    женат / замужем                 0      M   сотрудник     0        267628
4   гражданский брак                 1      F   пенсионер     0        158616
5   гражданский брак                 1      M   компаньон     0        255763
6    женат / замужем                 0      F   компаньон     0        240525
7    женат / замужем                 0      M   сотрудник     0        135823
8   гражданский брак                 1      F   сотрудник     0         95856
9    женат / замужем                 0      M   сотрудник     0        144425
10   женат / замужем                 0      M   компаньон     0        113943
11   женат / замужем                 0      F   сотрудник     0         77069
12  гражданский брак                 1      M   пенсионер     0        118514
13   женат / замужем                 0      F   сотрудник     0        130458
14  гражданский брак                 1      F   компаньон     1        165127
15   женат / замужем                 0      F   сотрудник     0        116820
16   женат / замужем                 0      F   сотрудник     0        289202
17  гражданский брак                 1      M   сотрудник     0         90410
18    вдовец / вдова                 2      F   пенсионер     0         56823
19         в разводе                 3      F   сотрудник     0        242831

                                   purpose total_income_category  \
0                            покупка жилья                     B
1                  приобретение автомобиля                     C
2                            покупка жилья                     C
3               дополнительное образование                     B
4                          сыграть свадьбу                     C
5                            покупка жилья                     B
6                        операции с жильем                     B
7                              образование                     C
8                    на проведение свадьбы                     C
9                  покупка жилья для семьи                     C
10                    покупка недвижимости                     C
11       покупка коммерческой недвижимости                     C
12                         сыграть свадьбу                     C
13                 приобретение автомобиля                     C
14              покупка жилой недвижимости                     C
15  строительство собственной недвижимости                     C
16                            недвижимость                     B
17              строительство недвижимости                     C
18      на покупку подержанного автомобиля                     C
19            на покупку своего автомобиля                     B

            purpose_category
0   операции с недвижимостью
1     операции с автомобилем
2   операции с недвижимостью
3      получение образования
4         проведение свадьбы
5   операции с недвижимостью
6   операции с недвижимостью
7      получение образования
8         проведение свадьбы
9   операции с недвижимостью
10  операции с недвижимостью
11  операции с недвижимостью
12        проведение свадьбы
13    операции с автомобилем
14  операции с недвижимостью
15  операции с недвижимостью
16  операции с недвижимостью
17  операции с недвижимостью
18    операции с автомобилем
19    операции с автомобилем

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [77]:
#постром таблицу на основе данных о количестве детей, взятых и просроченных кредитов
data_children = data.groupby('children').agg({'debt':'sum', 'children':'count'})

#добавим к таблице графу ratio,  равную доле просроченных кредитов в их общей массе в 
#зависимости от количества детей 
data_children['ratio'] = data_children['debt']/ data_children['children']

#выведем полученную таблицу на экран с отсортированными по убыванию занями по графе debt_ratio 
display(data_children.sort_values(by='ratio', ascending = False))


#cформируем pivot-таблицу, чтобы посмотреть сколько детей имеют разные категории граждан в зависимости от их дохода.
data_pivot4 = data.pivot_table(index=['children'], columns='total_income_category', values='debt', aggfunc='sum')

display(data_pivot4.sort_values(by='children', ascending=False))

          debt  children     ratio
children
4            4        41  0.097561
2          194      2052  0.094542
1          444      4808  0.092346
3           27       330  0.081818
0         1063     14091  0.075438
5            0         9  0.000000

total_income_category    A      B      C     D    E
children
5                      NaN    0.0    0.0   0.0  NaN
4                      NaN    1.0    3.0   NaN  NaN
3                      0.0    4.0   22.0   1.0  NaN
2                      0.0   41.0  149.0   4.0  0.0
1                      1.0   88.0  351.0   4.0  0.0
0                      1.0  220.0  828.0  12.0  2.0

**Вывод:**
Для того, чтобы можно было сопоставить количество просроченных кредитов исходя из числа детей, была посчитан относительный показатели ration.

По данным получается, что самыми ненадежынми заемщиками являются люди с 4 детьми - доля просрочек = 0,098, поэтому хотя доля по заещмкам с 5 детьми раво нулю, думаю было бы ошибочно считать их самыми надежными. Нулевой показатель  ratio по семьям с 5 детьми скорее всего получен из-за небольшого числа подобных получателей кредита (всего 9 человек). 

По показателям самыми надежными заемщ
иками явяются семьи без детей, у них просроченные кредиты составляют 0,075.

**Чем больше детей у заемщика, чем выше вероятность, что кредит не будет возвращен в срок.**

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [74]:
#постром таблицу на основе данных о семейном положении, взятых и просроченных кредитов
family_status = data.groupby('family_status').agg({'debt':'sum', 'family_status':'count'})

#добавим к таблице графу ratio,  равную доле просроченных кредитов в их общей массе в 
#зависимости от семейного положения 
family_status['ratio'] = family_status['debt']/ family_status['family_status']


#выведем полученную таблицу на экран с отсортированными по убыванию занями по графе ratio 
display(family_status.sort_values(by='ratio', ascending = False))


#cформируем pivot-таблицу, чтобы посмотреть какой доход у градан в зависимости от их семейного статуса
data_pivot3 = data.pivot_table(index=['family_status'], columns='total_income_category', values='debt', aggfunc='sum')

display(data_pivot3.sort_values(by='family_status', ascending=False))

                       debt  family_status     ratio
family_status
Не женат / не замужем   273           2796  0.097639
гражданский брак        385           4134  0.093130
женат / замужем         927          12261  0.075606
в разводе                84           1189  0.070648
вдовец / вдова           63            951  0.066246

total_income_category    A      B      C     D    E
family_status
женат / замужем        1.0  201.0  711.0  12.0  2.0
гражданский брак       1.0   64.0  315.0   5.0  0.0
вдовец / вдова         NaN    9.0   54.0   0.0  NaN
в разводе              0.0   18.0   64.0   2.0  NaN
Не женат / не замужем  0.0   62.0  209.0   2.0  0.0

**Вывод:** 
Для анализа также требуется посчитать относительные показатели  ratio  и debt_ratio,чтобы можно было сопоставить данные.
Что видно по таблице:
- ниабольшая доля людей, которые имею просрочку покредиту 0,097 не женаты / не замужем;
- далее идут люди, состоящие в гражданском браке - 0,093;
- женатые и замужние имеют долю просроки 0,075;
- самыми надежным являются получатели  в разводе - 0,07 их доля просроченных креитов и вдовцы  долей 0,066.

**Есть зависимость между семейным положением и возвратом кредита в срок: самые надежные заемщики могут иметь один из статусов: состоять в браке, быть в разводе или вдовцами. Ненадежные заемщики, как правило, не женаты/не замужем или находятся в гражданскрм браке.**

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [72]:
#постром таблицу на основе данных о семейном положении, взятых и просроченных кредитов
total_income_category = data.groupby('total_income_category').agg({'debt':'sum', 'total_income_category':'count'})

#добавим к таблице графу ratio,  равную доле просроченных кредитов в их общей массе в 
#зависимости от семейного положения 
total_income_category['ratio'] = total_income_category['debt']/ total_income_category['total_income_category']

#выведем полученную таблицу на экран с отсортированными по убыванию занями по графе ratio 
display(total_income_category.sort_values(by='ratio', ascending = False))

                       debt  total_income_category     ratio
total_income_category
E                         2                     22  0.090909
C                      1353                  15921  0.084982
A                         2                     25  0.080000
B                       354                   5014  0.070602
D                        21                    349  0.060172

**Вывод:** 
Для понимания результатов таблицы приведу нижу расшифровку total_income_category с категориям:
0–30000 — 'E';
30001–50000 — 'D';
50001–200000 — 'C';
200001–1000000 — 'B';
1000001 и выше — 'A'.

По данным полученной таблицы можно сделать следующие вывод:
- самые ненадженые заемщики - категрия Е,доля просрочек у ни составляет 0,091;
- далее идет категория С - 0,085;
- и самыми добросовестными являются заемщики из катерии  D.

**Вывод об однозначной зависимости сделать сложно, возможно, это вызвано разным уровнем дохода по регионам России. Требуется добавить аналитики для анализа**

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [73]:
#постром таблицу на основе данных о семейном положении, взятых и просроченных кредитов
purpose_category = data.groupby('purpose_category').agg({'debt':'sum', 'purpose_category':'count'})

#добавим к таблице графу ratio,  равную доле просроченных кредитов в их общей массе в 
#зависимости от семейного положения
purpose_category['ratio'] = purpose_category['debt']/ purpose_category['purpose_category']

#выведем полученную таблицу на экран с отсортированными по убыванию занями по графе ratio 
display(purpose_category.sort_values(by='ratio', ascending = False))

#cформируем pivot-таблицу, чтобы посмотреть какие категории граждан на какие цели чаще берут кредит.
data_pivot = data.pivot_table(index=['purpose_category'], columns='total_income_category', values='debt', aggfunc='sum')

display(data_pivot.sort_values(by='purpose_category', ascending=False))

                          debt  purpose_category     ratio
purpose_category
операции с автомобилем     400              4279  0.093480
получение образования      369              3988  0.092528
проведение свадьбы         183              2313  0.079118
операции с недвижимостью   780             10751  0.072551

total_income_category     A    B    C   D  E
purpose_category
проведение свадьбы        0   28  152   3  0
получение образования     1   69  297   2  0
операции с недвижимостью  1  172  599   6  2
операции с автомобилем    0   85  305  10  0

**Вывод:** 
По данным таблицы можно сделать следующие **выводы**:

- самыми надежными для банка будут заемщики, берущие кредит на операции с недвижимость (доля просрочек 0,073) и на проведеие свадьбы (их доля просрочек 0,079);
- чаще всего просрочки бывают по кредитам на автомобили (0,093) и на получение образования (0,092).

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:* 
Данные были пропущены в графах количество рабочих дней и доход. Возможно, данные опрошенные не хотели заниматься подсчетами отработаного времени и расскрывать уровень своего дохода по тем или иным причинам.

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:* 
Пропуски заполняются медианными значениями, когда в данных есть выдающиеяся значения. Так, например, уровень дохода по людям в выборке вариьируеся от 30 тыс. до более 1 млн., если будет заполнять пропущенные цифры данными, рассчитаными методом средними арифметическими mean(), то  уровень дохода, рассчитанный подобным методом будет завышен за счет выдающихся значений. Учитывая, что пропушщенных данных у нас около 10%, то мы можем искать даннеы.

Этого получится избежать используя другой метод -  median().

### Шаг 4: общий вывод.

Проанализирова данные, можно составить следующий портрет надежного потенциального заемщика: 
- количество детей от 0 до 2;
- семейный статус: в браке / разводе / вдовцы;
- по уровню дохода следует провести дополнительыне исследования по регионам;
- цель кредита: операциии с недвижимостью или свадьба.

***Вывод:***
    
Перед исследованием была поставлена задача определить есть ли зависимость между возвратом кредита в срок и следующими данными из портрета заемщика:
•	количеством детей,
•	семейного статуса заемщика,
•	уровнем его дохода,
•	на какие цели берется кредит.
Для анализа были изучены 21 525 анкет заемщиков. Данные прошли предобработку: пропущенная информацию по стажу и среднему доходу была заполнена медианными значениями исходя из типа занятости заемщика, были удалены дубликаты (123 анкеты). После чего добавили дополнительные графы: категориям дохода и по целям займа. Сделано это, чтобы структурировать близкие по содержанию группу.
Далее сгруппировали данные:
1) по количеству детей, количеству просроченных кредитов и общему количеству займов. Был найдет относительный показатель ratio, как отношение количества просроченных кредитов к общему их количеству с детализацией по числу детей кредитополучателя. 
2) по статуса заёмщика, количеству просроченных кредитов и общему количеству займов. Был на найдет относительный показать rario,как отношение количества просроченных кредитов к общему их количеству с детализацией по статусу кредитополучателя. 
3) по уровню дохода заёмщика, на основе предварительно сгруппированных категорий, количеству просроченных кредитов и общему количеству займов. Был на найдет относительный показать ratio, как отношение количества просроченных кредитов к общему их количеству с учетом категории дохода кредитополучателя. 
4) по целям кредита, на основе предварительно сгруппированных категорий целей кредита, количеству просроченных кредитов и общему количеству займов. Был на найдет относительный показать ratio, как отношение количества просроченных кредитов к общему их количеству с учетом целевой категории дохода кредита.